@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Register</title>
	<link rel="stylesheet" href="~/css/output.css" />
	<link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
</head>
<body>
	<header class="absolute inset-x-0 top-0 z-50">
		<nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
			<div class="flex lg:flex-1">
				<a class="-m-1.5 p-1.5" asp-area="" asp-controller="Home" asp-action="Index">
					<span class="sr-only">Your Company</span>
					<img class="h-18 w-auto" src="https://ik.imagekit.io/6txj3mofs/GIGHub%20(2).png?updatedAt=1749718355580" alt="">
				</a>
			</div>
		</nav>
	</header>
	<div class="bg-white">
		<div class="relative isolate px-6 pt-[10px] lg:px-8">
			<div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
				<div class="relative left-[calc(50%-11rem)] aspect-1155/678 w-144.5 -translate-x-1/2 rotate-30 bg-linear-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-288.75" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
			</div>
			<div class="grid grid-cols-1 lg:grid-cols-2 items-center py-16 sm:py-24 lg:py-32 px-4">

				<div class="flex items-center justify-center w-full">
					<div class="w-1/2 flex flex-col items-center justify-center p-6 bg-white border border-gray-200 rounded-lg shadow">
						<div class="mb-5">
							<h5 class="mb-2 text-2xl font-bold text-gray-900">Sign Up</h5>
						</div>
						<div class="w-full">
							<form id="signupForm" method="post">
								<div id="firstPart" class="signup-content">
									<label for="firstname-address-icon" class="block mb-2 text-sm font-medium text-gray-900">First Name</label>
									<div class="relative">
										<div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
											<svg class="w-6 h-6 text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
												<path fill-rule="evenodd" d="M12 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4h-4Z" clip-rule="evenodd" />
											</svg>
										</div>
										<input type="text" id="firstname-address-icon" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5" placeholder="">
									</div>
									<label for="lastname-address-icon" class="block mt-4 mb-2 text-sm font-medium text-gray-900">Last Name</label>
									<div class="relative">
										<div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
											<svg class="w-6 h-6 text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
												<path fill-rule="evenodd" d="M12 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4h-4Z" clip-rule="evenodd" />
											</svg>
										</div>
										<input type="text" id="lastname-address-icon" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5" placeholder="">
									</div>
								</div>
								<div id="secondPart" class="signup-content hidden">
									<label for="email-address-icon" class="block mt-4 mb-2 text-sm font-medium text-gray-900">Email</label>
									<div class="relative">
										<div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
											<svg class="w-4 h-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 16">
												<path d="m10.036 8.278 9.258-7.79A1.979 1.979 0 0 0 18 0H2A1.987 1.987 0 0 0 .641.541l9.395 7.737Z" />
												<path d="M11.241 9.817c-.36.275-.801.425-1.255.427-.428 0-.845-.138-1.187-.395L0 2.6V14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2.5l-8.759 7.317Z" />
											</svg>
										</div>
										<input type="text" id="email-address-icon" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5" placeholder="name@gmail.com">
									</div>
									<label for="password-icon" class="block mt-4 mb-2 text-sm font-medium text-gray-900">Password</label>
									<div class="relative">
										<div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
											<svg class="w-6 h-6 text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
												<path fill-rule="evenodd" d="M8 10V7a4 4 0 1 1 8 0v3h1a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h1Zm2-3a2 2 0 1 1 4 0v3h-4V7Zm2 6a1 1 0 0 1 1 1v3a1 1 0 1 1-2 0v-3a1 1 0 0 1 1-1Z" clip-rule="evenodd" />
											</svg>
										</div>
										<input type="password" id="password-icon" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5" placeholder="">
									</div>
									<label for="confirm-password-icon" class="block mt-4 mb-2 text-sm font-medium text-gray-900">Confirm Password</label>
									<div class="relative">
										<div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
											<svg class="w-6 h-6 text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
												<path fill-rule="evenodd" d="M8 10V7a4 4 0 1 1 8 0v3h1a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h1Zm2-3a2 2 0 1 1 4 0v3h-4V7Zm2 6a1 1 0 0 1 1 1v3a1 1 0 1 1-2 0v-3a1 1 0 0 1 1-1Z" clip-rule="evenodd" />
											</svg>
										</div>
										<input type="password" id="confirm-password-icon" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5" placeholder="">
									</div>
								</div>
								<div class="flex justify-between">
									<button type="button" id="backBtn" class="mt-4 hidden px-4 py-2 text-gray-600 bg-gray-200 hover:bg-gray-300 rounded-lg transition-colors duration-200">
										Back
									</button>
									<button type="button" id="nextBtn" class="mt-4 ml-auto px-6 py-2 text-white bg-gradient-to-r from-blue-500 to-blue-600 hover:from-blue-600 hover:to-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm transition-all duration-200 transform hover:scale-105">
										Next
									</button>
									<a type="submit" id="submitBtn" class="mt-4 hidden ml-auto px-6 py-2 text-white bg-gradient-to-r from-blue-500 to-blue-600 hover:from-blue-600 hover:to-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm transition-all duration-200 transform hover:scale-105" asp-controller="Client" asp-action="ClientLogin">
										Sign Up
									</a>
								</div>
							</form>
						</div>
					</div>
				</div>


				<div class="flex items-center justify-center w-full">
					<img class="max-w-3/4 max-h-3/4" src="https://ik.imagekit.io/6txj3mofs/GIGHub%20(6).png?updatedAt=1749724247172" alt="">
				</div>
			</div>
			<div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]" aria-hidden="true">
				<div class="relative left-[calc(50%+3rem)] aspect-1155/678 w-144.5 -translate-x-1/2 bg-linear-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-288.75" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
			</div>
		</div>
	</div>
	<script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>