@{
	Layout = "_LayoutClient";
	ViewData["Title"] = "Feed";
}

@model List<Freelancing.Models.Entities.Project>

<div class="p-4 sm:ml-64">
	<div class="p-4 mt-21">
		@foreach (var project in Model)
		{
			<div class="mb-4">
				<div class="block max-w p-6 bg-white border border-gray-200 rounded-lg shadow-sm">
					<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">@project.ProjectName</h5>
					<h5 class="mb-2 text-md font-light tracking-tight text-gray-900">@project.Category || ₱@project.Budget</h5>
					<h5 class="mb-2 text-md font-normal tracking-tight text-gray-900">@project.ProjectDescription</h5>
				</div>
			</div>
		}
	</div>
</div>