@{
	Layout = "_Layout";
	ViewData["Title"] = "Dashboard";
}

@model Freelancing.Models.AddProject

<div class="p-4 sm:ml-64">
	<div class="p-4 mt-21">
		<div class="mb-4">
			<h4 class="text-2xl text-dark font-medium">
				Hello, @User.FindFirst("FullName")?.Value
			</h4>
		</div>

		<div class="w-full p-4 mb-4 text-left bg-white border border-gray-200 rounded-lg shadow-sm sm:p-8 dark:bg-gray-800 dark:border-gray-700">
			<h5 class="mb-2 text-3xl font-bold text-gray-900 dark:text-white">Total Projects</h5>
			<div class="flex items-center justify-between">
				<h5 id="totalProject" class="mb-2 text-3xl font-bold text-gray-900 dark:text-white">0</h5>
			</div>
		</div>

		<div class="grid grid-cols-2 gap-4 mb-4">

			<div class="w-full max-w p-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:p-8">
				<div class="flex items-center justify-between mb-4">
					<h5 class="text-xl font-bold leading-none text-gray-900">Biddings Sent</h5>
				</div>
				<div class="flow-root">
					<ul role="list" class="divide-y divide-gray-200">
						<li class="py-3 sm:py-4">
							<div class="flex items-center">
								<div class="shrink-0">
									<img class="w-8 h-8 rounded-full" src="/docs/images/people/profile-picture-1.jpg" alt="Neil image">
								</div>
								<div class="flex-1 min-w-0 ms-4">
									<p class="text-sm font-medium text-gray-900 truncate">
										Neil Sims
									</p>
									<p class="text-sm text-gray-500 truncate">
										email@windster.com
									</p>
								</div>
								<div class="inline-flex items-center text-base font-semibold text-gray-900">
									$320
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>

			<div class="w-full max-w p-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:p-8">
				<div class="flex items-center justify-between mb-4">
					<h5 class="text-xl font-bold leading-none text-gray-900">Manage Biddings</h5>
				</div>
				<div class="flow-root">
					<ul role="list" class="divide-y divide-gray-200">
						<li class="py-3 sm:py-4">
							<div class="flex items-center">
								<div class="shrink-0">
									<img class="w-8 h-8 rounded-full" src="/docs/images/people/profile-picture-1.jpg" alt="Neil image">
								</div>
								<div class="flex-1 min-w-0 ms-4">
									<p class="text-sm font-medium text-gray-900 truncate">
										Neil Sims
									</p>
									<p class="text-sm text-gray-500 truncate">
										email@windster.com
									</p>
								</div>
								<div class="inline-flex items-center text-base font-semibold text-gray-900">
									$320
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>

		</div>
	</div>
</div>

