@{
    Layout = "_LayoutFreelancer";
    ViewData["Title"] = "Manage Session";
}

<div class="p-4 sm:ml-64">
    <div class="p-4 mt-20">
        <div class="mt-4">
            <div class="block w-full p-6">
                <h2 class="mb-6 text-3xl font-bold text-gray-900">Manage Schedule and Session</h2>
            </div>
        </div>
    </div>
</div>