@{
	Layout = "_LayoutFreelancer";
	ViewData["Title"] = "Successful Registration";
}

<div class="p-4 sm:ml-64">
	<div class="p-4 mt-20">
		<div class="mt-4">
			<div class="text-center block w-full p-6">
				<h2 class="mb-4 text-3xl font-bold text-gray-900">Registration Successful</h2>
			</div>
		</div>
	</div>
</div>